body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header__logo {
    height: 30px;
}
a {
    text-decoration: none;
    color: #213053;
}
header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}
.about {                                      /*Проектное задание 2.1*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 115px;
    padding-top: 115px;
    background: url('img/back.png') no-repeat;        /*Проектное задание 2.2*/
    background-position: center;                    /*Проектное задание 2.2*/
    background-size: cover;                        /*Проектное задание 2.2*/
}
.about__info {                                 /*Проектное задание 2.2*/
    max-width: 550px;
}
.about h1 {                                 /*Проектное задание 2.2*/
    font-size: 70px;
    line-height: 76px;
}
.about p {                                 /*Проектное задание 2.2*/
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
}
button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
}
.about button {                                        /*Проектное задание 2.2*/
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 25px;  
    margin-top: 20px;
}
.about__image {
    width: 500px;
}
.about__sun-image {
    width: 100px;
    height: 100px;
}
.form__container {
    width: 550px;
}
.form h1 {
    font-size:48px;                            /*Проектное задание 4.3*/
} 
.form p {                                          /*Проектное задание 4.3*/
    font-size: 18px;
    opacity: 0.65;
}
.form {                                              /*Проектное задание 4.3*/
    background-color: #1d263a;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
    display: flex;                              /*Проектное задание 4.4*/
    justify-content: center;                   /*Проектное задание 4.4*/
    /* align-items: center;                      Проектное задание 4.4 */
}
.form__group {                                     /*Проектное задание 4.5*/
    display: flex;
    flex-direction: column;
    text-align: left;
    }
.form form {                                   /*Проектное задание 4.6*/
    display: grid;
    margin-top: 60px; 
    grid-gap: 20px;
   }
.form label {                                     /*Проектное задание 4.7 В решении проектного задания ошибка: margin-bottom: 15px; */
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
   }
 .form input, .form select {                                    /*Проектное задание 4.8*/
    font-size: 18px;
    color: #213053;
    height: 60px;
    padding: 0 20px;
    border-radius: 15px;
    border: none;
   }
.form__submit {                                  /*Проектное задание 4.9*/
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px; 
   }
select {                                       /*Проектное задание 4.9*/
    appearance: none;
   }
input {                                        /*Проектное задание 4.9*/
    outline: none;
   }
button:hover {                                                 /*Проектное задание 4.10*/
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.3s ease-in;
   }
footer {                                                      /*Проектное задание 4.12*/
    padding: 90px 20px;
    font-size: 16px;
    font-weight: 600;
  }
.footer__container {                                    /*Проектное задание 4.12*/
    display: flex;
    justify-content: center;
  }
.footer__copy {                                       /*Проектное задание 4.12 В решении проектного задания ошибка: .footer__copy {*/
    margin-top: 40px;
    text-align: center;
    opacity: 0.5;
  }
.footer__group {                                              /*Проектное задание 4.14*/
    margin-right: 80px;
    
  }
footer h3 {                                                          /*Проектное задание 4.14*/
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 30px;
  }
.footer__links {                                      /*Проектное задание 4.14*/
    display: flex;
    flex-direction: column;
  }
footer__links a {                                           /*Проектное задание 4.14*/
    margin-bottom: 15px;
  }

                              
